* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    line-height: 1.4;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    color: #333;
    text-decoration: none;
}

.NavBar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #ff5454;
}

@media only screen and (max-width: 1000px) {
    .NavBar {
        height: 40%;
        width: 230px;
        z-index: 1;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        background-color: #ff5454;
        padding: 20px;
    }
}

.Box {
    margin: 10px;
}

Button {
    background-color: white; 
    color: #d45246; 
    border: 2px solid #d45246;
    width: 100px;
    font-size: large;
}

Button:hover {
    cursor: pointer;
}

input {
    font-family: Arial, Helvetica, sans-serif;
}
