* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.App {
    width: 100%;
}

:root {
    --theme-color: #6754ff;
    --theme-light-color: #ff5e5e;
    --theme-second-color: #ffffff;
    background: #0a356d;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--theme-color);
    line-height: 1.4;
    width: 100%;
    height: auto;
    overflow: auto;
}

h5 {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
}



.FlexRow {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.vertical-timeline.vertical-timeline--two-columns:before {
    background: black;
}

.vertical-timeline-element-icon.bounce-in {
    box-shadow: 0 0 0 4px black, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05)
}

.vertical-timeline-element-date {
    color: black;
}


a {
    text-decoration: none;
}

.NavBar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--theme-second-color);
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    color: #070323;
     /* background-color: #2196f3; */
}

.Links {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: var(--theme-color);
}

.PageLink {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PageLink:Hover {
    background-color: var(--theme-light-color);
    cursor: pointer;
}

.SearchBar {
    height: 350px;
    width: 300px;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #6b6d6f;
    color: #FEED83;
    opacity: 0.9;
    padding: 15px;
    border-radius: 0% 0% 15% 0%;
    margin-top: 22%;
    margin-left: 20px;
}

.SearchBar:hover {
    background-color: #6b6d6f;
    opacity: 0.9;
}

.Box {
    margin-bottom: 5px;
    width: 100%;
}

/* Drop Down */
.browser-default {
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--theme-second-color);
}
.select {
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #2196f3;
}
.continentfield {
    height: 70px;
    display: flex;
    width: 100000000%;
    display: flex;
   
    align-items: center;

   
   

}

.continentfield :hover {
    background-color: #2196f3;
    opacity: 0.9;
     text-colour: black;

}

Button {
    background-color: var(--theme-second-color);
    color: var(--theme-color);
    border: 2px solid var(--theme-color);
    width: 200px;
    font-size: large;
}

Button:hover {
    cursor: pointer;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.yearslider {
    -webkit-appearance: none;
    width: 100%;
    height: 0px;
    background: var(--theme-second-color);
    border-style: none;
    opacity: 0.7;
    padding:0;
    margin:0;
}

.yearslider:hover {
    opacity: 1;
}

.yearslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--theme-color);
    cursor: pointer;
    padding:0;
    margin:0;
}

.Continentwrapper {
    text-align: center;

   
}


.divButtons {
    text-align: center;

}

.alldiseases {
    /* background-color: var(--theme-second-color); */
    width: 50%;
    display: flex;
    margin: 2px;
    padding: 2px;
    margin-right: 800px;
    cursor: pointer;
    text-colour: black;
}

 .alldiseases:hover {
    background-color: #2196f3;
} 

.diseaseList {

    display: flex;
     /* background-color: var(--theme-second-color); */
     justify-content: space-around;
    border-radius: 15px 15px 15px 15px;
    align-items: center;
    flex-direction: column;
    width: 100%;

  padding: 5px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  resize: none;
  /* border:1px solid #30273a; */
  /* box-shadow: 0 0 10px #8d78a5; */
  /* border-radius: 15px 15px 15px 15px; */
  display: flex;
  justify-content: space-around;
  color: yellow;
}


.continentList {

    display: flex;
     
     justify-content: space-around;
    border-radius: 15px 15px 15px 15px;
    align-items: center;
    flex-direction: column;
    width: 100%;

    background: #0a356d;
  padding: 5px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  resize: none;
  
  border-radius: 15px 15px 15px 15px;
  display: flex;
  justify-content: space-around;
}

.reportDocs {
    color: yellow;
    display: flex;
    font-size: small;
    background: #0a356d;
    align-items: center;
    flex-direction: column;
}

.reportDoc {
    color: yellow;
    display: flex;
    font-size: small;

    align-items: center;
    flex-direction: column;
}

/* .doc {
    height: 100%;
} */
.reportDocs:hover {
    background-color: #2196f3;

} 


.switch {
    position: relative !important;
    display: inline-block !important;
    width: 60px !important;
    height: 34px !important;
  }

  .switch input {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
  }

  .slider {
    position: absolute !important;
    cursor: pointer !important;
    top: 0 !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0 !important;
    background-color: #ccc !important;
    -webkit-transition: .4s !important;
    transition: .4s !important;
  }

  .slider:before {
    position: absolute !important;
    content: "" !important;
    height: 26px !important;
    width: 26px !important;
    top:-4px !important;
    left: -1px !important;
    bottom: 4px !important;
    background-color: white !important;
    -webkit-transition: .4s !important;
    transition: .4s!important;
  }

  .inputSlider:checked + .slider {
    background-color: #2196F3 !important;
  }

  .inputSlider:focus + .slider {
    box-shadow: 0 0 1px #2196F3 !important;
  }

  .inputSlider:checked + .slider:before {
    -webkit-transform: translateX(36px) !important;
    -ms-transform: translateX(36px) !important;
    transform: translateX(36px) !important;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px !important;
  }

  .slider.round:before {
    border-radius: 50% !important;
  }

  .resp-table {
width: 100%;
display: table;
}

.Table {
  border-spacing: 0px;
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
}
.dropdown{
    border-radius: 50% !important;

}
.reportcomponent{
 background: #0a356d;
  }
