* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    width: 100%;
}

:root {
    --theme-color: #ff5454;
    --theme-light-color: #ff5e5e;
    --theme-second-color: #ffffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--theme-second-color);
    line-height: 1.4;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.NavBar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--theme-second-color);
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: var(--theme-color);
}

.Links {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: var(--theme-color);
}

.PageLink {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PageLink:Hover {
    background-color: var(--theme-light-color);
    cursor: pointer;
}

.SearchBar {
    height: 40%;
    width: 230px;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--theme-light-color);
    opacity: 0.9;
    padding: 20px;
    border-radius: 0% 0% 5% 5%;
}

.Box {
    margin: 10px;
}

Button {
    background-color: var(--theme-second-color); 
    color: var(--theme-color); 
    border: 2px solid var(--theme-color);
    width: 100px;
    font-size: large;
}

Button:hover {
    cursor: pointer;
}

input {
    font-family: Arial, Helvetica, sans-serif;
}
