* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    width: 100%;
}

:root {
    --theme-color: #ff5454;
    --theme-light-color: #ff5e5e;
    --theme-second-color: #ffffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--theme-second-color);
    line-height: 1.4;
    width: 100%;
    height: auto;
    overflow: auto;
}

.alldiseases {
    color: black;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.vertical-timeline.vertical-timeline--two-columns:before {
    background: black;
}

.vertical-timeline-element-icon.bounce-in {
    box-shadow: 0 0 0 4px black, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05)
}

.vertical-timeline-element-date {
    color: black;
}

a {
    text-decoration: none;
}

.NavBar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--theme-second-color);
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: var(--theme-color);
}

.Links {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: var(--theme-color);
}

.PageLink {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PageLink:Hover {
    background-color: var(--theme-light-color);
    cursor: pointer;
}

.SearchBar {
    height: 200px;
    width: 400px;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--theme-light-color);
    opacity: 0.9;
    padding: 20px;
    border-radius: 0% 0% 5% 5%;
}

.Box {
    margin: 10px;
    width: 100%;
}

Button {
    background-color: var(--theme-second-color);
    color: var(--theme-color);
    border: 2px solid var(--theme-color);
    width: 100px;
    font-size: large;
}

Button:hover {
    cursor: pointer;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.yearslider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: var(--theme-second-color);
    outline: none;
    opacity: 0.7;
}

.yearslider:hover {
    opacity: 1;
}

.yearslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--theme-color);
    cursor: pointer;
}
.Continentwrapper {
    text-align: center;
}

.divButtons {
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
}
